
.leftTextbox    {
    width: 100%;
    
    padding: 3%;
    
}

.paragraphText  {
    width: 100%;
    background-color: beige;
    font-size: large;
    
    padding: 2%;
    border-radius: 20px;
    font-family: "Roboto";
}

.slideHeader    {
    text-align: center;
    background-color: orange;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0%;
    border-radius: 50px;
    font-family: "Protest Strike", sans-serif;
}

#vis1   {
    
    margin-top: 8%;
    margin-left: 10%;
}


#buttonBox  {
    padding-bottom: 2%;
    margin-top: 2%;
    margin-left: 80%;
}


.buttons {
    cursor: pointer;
    border: solid rgb(39, 156, 0);
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    transition: 2s;
    width: 100px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: #ffa500;
    --hover-width: 358px;
    font-family: "Roboto";
    }