
#vis1   {
    width: 50%;
}


#buttonBox  {
    margin-left: 75%;
    padding-bottom: 2%;
}

#dotpoints  {
    text-align: center;
}

#pc_img {
    width: 100%;
}

#p3head {
    text-align: center;
}
