
#vis1   {
    
    margin-left: 1%;
}

/* #barHolder   {
    
} */

#vis2   {
    margin-left: 17%;
}


#buttonBox  {
    padding-bottom: 2%;
    margin-top: 2%;
    margin-left: 80%;
}

#dotpoints  {
    text-align: center;
    background-color: beige;
    padding: 2%;
    margin-right: 8%;
    margin-top: 3%;
    border-radius: 20px;
    font-family: "Roboto";
}

/* #pieHolder {
   
   
} */

#vis3  {
    margin-left: 19%;
    
}

#vis4  {
    margin-left: 58%;
    
}

#header    {
    text-align: center;
    background-color: orange;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50px;
    font-family: "Protest Strike", sans-serif;
}


.buttons {
    cursor: pointer;
    border: solid rgb(39, 156, 0);
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    transition: 2s;
    width: 100px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: #ffa500;
    --hover-width: 358px;
    font-family: "Roboto";
    }