
#vis1   {
    margin-left: 4%;
}

/* #barHolder   {

} */

#vis2   {
    margin-top: 6%;

}

#buttonBox  {
    margin-top: 2%;
    margin-left: 80%;

}

#dotpoints  {
    text-align: center;
    background-color: beige;
    padding: 2%;
    margin-right: 8%;
    margin-top: 4%;

}


#header    {
    text-align: center;
    background-color: orange;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 30%;
    margin-right: 30%;
}
/* 
#dp_holder  {

} */


.buttons {
    cursor: pointer;
    border: solid rgb(39, 156, 0);
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    transition: 2s;
    width: 91px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(255, 183, 0);
    --hover-width: 358px;
    }