
.leftTextbox    {
    width: 100%;
    
    padding: 3%;
    
}

.paragraphText  {
    width: 100%;
    background-color: beige;
    font-size: large;
    
    padding: 1%;
    
}

.slideHeader    {
    text-align: center;
    background-color: orange;
    padding-top: 2%;
    padding-bottom: 2%;
}

#vis1   {
    
    margin-top: 7%;
    margin-left: 10%;
}


#buttonBox  {
    padding-bottom: 2%;
    margin-top: 2%;
    margin-left: 80%;
}

.buttons {
    cursor: pointer;
    border: solid rgb(39, 156, 0);
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    transition: 2s;
    width: 91px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(255, 183, 0);
    --hover-width: 358px;
    }