

.homepage   {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    position: absolute;
    
}


#titleLabel {
    background-color: orange;
}

.buttons    {
    margin-top: 2%;
}

#sources    {
    background-color: beige;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
}

p   {
    font-style: italic;
}

.buttons {
    cursor: pointer;
    border: solid rgb(39, 156, 0);
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    transition: 2s;
    width: 100px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(255, 183, 0);
    --hover-width: 358px;
    }



