

.homepage   {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    position: absolute;
    
}


#titleLabel {
    background-color: orange;
    border-radius: 50px;
    font-family: "Protest Strike", sans-serif;
}


#sources    {
    background-color: beige;
    padding: 2%;
    margin-top: 2%;
    border-radius: 20px;
    font-family: "Roboto";
}

p   {
    font-style: italic;
}

.buttons {
    cursor: pointer;
    border: solid rgb(39, 156, 0);
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    transition: 2s;
    width: 100px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: #ffa500;
    --hover-width: 358px;
    font-family: "Roboto";
    margin-top: 2%;
    margin-bottom: 2%;
    }



