.homepage   {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    position: absolute;
}


#titleLabel {
    background-color: orange;
    padding: 2%;
    border-radius: 50px;
    font-family: "Protest Strike", sans-serif;
    font-size: xx-large;
}



.buttons {
    cursor: pointer;
    border: solid rgb(39, 156, 0);
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    transition: 2s;
    width: 100px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    --hover-width: 358px;
    font-family: "Roboto";
}
